/* Standard Button */
.standard-button {
    box-shadow: 3px 3px 0 0 #000000;
    background: #ffffff linear-gradient(to bottom, #e6e6e6 5%, #a3a3a3 100%);
    border-radius: 5px;
    border: 1px solid #C4D1EB;
    color: #000000;
    font-family: Arial, serif;
    font-size: 20px;
    font-weight: bold;
    padding: 14px 53px;
    text-decoration: none;
    transition: .3s ease;
}
.standard-button:hover {
    background: #dddddd linear-gradient(to bottom, #bcbcbc 5%, #888888 100%);
}
.standard-button:active {
    position: relative;
    top: 1px;
}

/* Login Input Field */
.login_input {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 100%;
}
.input-login {
    font-size: 18px;
    padding: 5px 10px;
    width: 100%;
    outline: none;
    background: #FFFFFF;
    color: #000000;
    border: 1px solid #C4D1EB;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 0 #E2E2E2;
    transition: .3s ease;
}
.input-login:focus {
    background: #F2F2F2;
    border: 1px solid #000000;
    border-radius: 10px;
}
.input-login::placeholder {
    color: #DDDDDD;
}